:root {
    --foreground-red: #E2350D;
  }
  
  
  body {
    .headerDex {
      background-color: var(--foreground-red);
      height: 15vh;
    }

    .contentDex {
        height: 85vh;
    }
  
  }