:root {
    --foreground-red: #E2350D;
    --white: #FFFFFF;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--foreground-red);    
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; 
  }
  
  body {
    .headerDex {
      background-color: var(--foreground-red);
      height: 15vh;
    }

    .contentDex {
        height: 85vh;
    }

    .title {
        font-size: 2rem;
        color: var(--white) ;
        font-weight: 500;
    }
    
    .icon {
        width: 25px;
        height: 25px;
        color: var(--white);
        margin-left: 20px;
    }
  
  }